[submodule "academic"]
	path = academic
	url = git@github.com:RoyalPineapple/SwiftTLA-Academic.git
	branch = main
[submodule "validation-evidence"]
	path = Verification/CoreConformance/baselines
	url = git@github.com:RoyalPineapple/SwiftTLAValidationEvidence.git
	branch = main
